header {

     position: fixed;
     height: 15%;
     width: 100%;


}

body {

   
     background-color: rgba(180, 147, 147, 0.233);
     background-size: 100%;
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     background-repeat: no-repeat;
     background-size: 100%;



}

.container {

     position: relative;
     width: 1200px;
     height: 300px;
     margin: 240px auto;
     /* background: #000; */

}

img {
     display: block;
     width: 100px;
     height: auto;
     padding-right: 50px;
     float: left;
}


.flex-container>div {
     background-color: #d1bcbc;
     margin: 50px;
     font-size: 16px;
     width: 330px;
     display: inline-block;
 }


nav {


     background-color: #f8f8f8;
     height: 4.9vmax;
     display: flex;
     gap: 480px;
     size: 100px;

}


.dropbtn {
     background-color: #2885917e;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
   }
   
   
   
   .dropdown {
     position: relative;
     display: inline-block;
   }
   
   
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   
   
   .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   
   
   .dropdown-content a:hover {background-color: #ddd;}
   
   
   
   .dropdown:hover .dropdown-content {display: block;}
   
   
   
   .dropdown:hover .dropbtn {background-color: #3e8e41;}
   


   
   .h11{
     text-shadow: 1px 1px rgba(68, 9, 231, 0.781) ;

   }
   
   